## OS STUFF
.DS_Store

## TM SPECIFIC
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RUBINIUS
*.rbc

## PROJECT::GENERAL
*.sw?
*.gem
coverage
rdoc
pkg
doc

## BUNDLER
.bundle
Gemfile.local
Gemfile.lock

## PROJECT::SPECIFIC
spec/db/
